!!!
html
  head
    link(rel="stylesheet", href="/main.css")
  body
    div.sidebar
      div.title
        h1 39
        h2 Months
      div.info
        span &nbsp;Stuart Quin

    div.main
      each entry, slug in public.entries.data
        div.entry
          h2 #{entry.title}
          h3 #{entry.date}
          article!= partial("entries/"+slug)
